# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [1]:
print("Zihan Liang")

Zihan Liang

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [4]:
students = pd.read_csv('data_raw/students.csv')

bins = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A']

students['lettergrade'] = pd.cut(students['numericgrade'], bins=bins, labels=labels, right=True)

print(students.head())

   studentid  numericgrade lettergrade
0          1            61          C-
1          2             0         NaN
2          3            14           F
3          4            57           D
4          5            72          C+

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [5]:
# Write your own code
results = pd.read_csv('data_raw/results.csv')
print(results.head())

   resultId  raceId  driverId  constructorId number  grid position  \
0         1      18         1              1     22     1        1
1         2      18         2              2      3     5        2
2         3      18         3              3      7     7        3
3         4      18         4              4      5    11        4
4         5      18         5              1     23     3        5

  positionText  positionOrder  points  laps         time milliseconds  \
0            1              1    10.0    58  1:34:50.616      5690616
1            2              2     8.0    58       +5.478      5696094
2            3              3     6.0    58       +8.163      5698779
3            4              4     5.0    58      +17.181      5707797
4            5              5     4.0    58      +18.014      5708630

  fastestLap rank fastestLapTime fastestLapSpeed  statusId
0         39    2       1:27.452         218.300         1
1         41    3       1:27.739         217.586         1
2         41    5       1:28.090         216.719         1
3         58    7       1:28.603         215.464         1
4         43    1       1:27.418         218.385         1

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [6]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
print(results.dtypes)
print(results[['time']].head())

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object
          time
0  1:34:50.616
1       +5.478
2       +8.163
3      +17.181
4      +18.014

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [7]:
# Write your own code here
results = pd.read_csv('data_raw/results.csv')

non_numeric_values = results[~results['milliseconds'].apply(lambda x: x.isnumeric())]['milliseconds'].unique()
print("Non-numeric values:", non_numeric_values)

results['milliseconds'] = pd.to_numeric(results['milliseconds'], errors='coerce')

print(results['milliseconds'].head())

Non-numeric values: ['\\N']
0    5690616.0
1    5696094.0
2    5698779.0
3    5707797.0
4    5708630.0
Name: milliseconds, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [8]:
# Write your own code
df_aggCon_pos = results.groupby('constructorId').agg(
    mean_laps=('laps', 'mean'),
    std_laps=('laps', 'std')
)

df_aggCon_pos = df_aggCon_pos.sort_values(by='mean_laps', ascending=False)

print(df_aggCon_pos.head())

                mean_laps   std_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [10]:
# Write your own code
results['position'] = pd.to_numeric(results['position'], errors='coerce')

filtered_data = results.query('raceId >= 150')

df_subAggCon_pos = filtered_data.groupby('constructorId').agg(
    mean_position=('position', 'mean'),
    std_position=('position', 'std')
)

print(df_subAggCon_pos.head())

               mean_position  std_position
constructorId
1                   6.121634      4.294358
3                   7.983836      5.509701
4                   8.617834      4.388534
5                  11.430868      3.157308
6                   4.733661      3.395834